/*@import "swiper/css/bundle";*/
@import "swiper/css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

/* html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
} */

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 400.0;
*
* available axes:
'wght' (range from 100.0 to 900.0
*/
@font-face {
    font-family: 'Switzer';
    src: url('../../assets/font/switzer/Switzer-Variable.woff2') format('woff2'),
    url('../../assets/font/switzer/Switzer-Variable.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 400.0;
*
* available axes:
'wght' (range from 100.0 to 900.0
*/
@font-face {
    font-family: 'Switzer';
    src: url('../../assets/font/switzer/Switzer-VariableItalic.woff2') format('woff2'),
    url('../../assets/font/switzer/Switzer-VariableItalic.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'iconfont';
    src: url('../../assets/font/iconfont/iconfont.eot');
    src: url('../../assets/font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/iconfont/iconfont.woff') format('woff'),
    url('../../assets/font/iconfont/iconfont.ttf') format('truetype'),
    url('../../assets/font/iconfont/iconfont.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
    font-family: 'iconfont';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
[class*='icon-'] {
    @apply leading-none inline-block;
}

.icon-whatsapp:before{content:'\0041';}
.icon-phone:before{content:'\0042';}
.icon-facebook:before{content:'\0043';}
.icon-tiktok:before{content:'\0044';}
.icon-arrow-down:before{content:'\0045';}
.icon-arrow-up:before{content:'\0046';}
.icon-arrow-left:before{content:'\0047';}
.icon-arrow-right:before{content:'\0048';}
.icon-x:before{content:'\0049';}
.icon-linkedin:before{content:'\004a';}
.icon-youtube:before{content:'\004b';}
.icon-location-pin:before{content:'\004c';}
.icon-screwdriver:before{content:'\004d';}
.icon-arrow-up-right:before{content:'\004e';}
.icon-angle-right:before{content:'\004f';}
.icon-angle-left:before{content:'\0050';}
.icon-angle-up:before{content:'\0051';}
.icon-angle-down:before{content:'\0052';}
.icon-panelix:before{content:'\0053';}
.icon-instagram:before{content:'\0054';}

:is(.fluid-space, [data-module]) {
    /* Slope hesaplaması (sadece sayılar) */
    --slope-pt: calc((var(--max-pt) - var(--min-pt)) / (var(--max-w) - var(--min-w)));
    --slope-pb: calc((var(--max-pb) - var(--min-pb)) / (var(--max-w) - var(--min-w)));

    /* Intercept hesaplaması */
    --intercept-pt: calc(var(--min-pt) - var(--slope-pt) * var(--min-w));
    --intercept-pb: calc(var(--min-pb) - var(--slope-pb) * var(--min-w));

    padding-top: clamp(calc(var(--min-pt) * 1px), calc((var(--intercept-pt) * 1px) + var(--slope-pt) * 100vw), calc(var(--max-pt) * 1px));
    padding-bottom: clamp(calc(var(--min-pb) * 1px), calc((var(--intercept-pb) * 1px) + var(--slope-pb) * 100vw), calc(var(--max-pb) * 1px));
}

:root, body, html {
    scrollbar-gutter: stable;
}